* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #ffffff;
}

.header {
  background-color: #ffffff;
  margin: auto -10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px 0 rgb(110, 110, 110);
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 100px; /* remove later*/
}

.header h3 {
  color: #5f6368;
  font-size: 1.5rem;
  font-weight: 500;
}
